#subTitle {
    background-color: beige;
}

#subTitle .wrap {
    max-width: 1440px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#subTitle h2 {

}

#subTitle p {

}